* {
  margin: 0;
  padding: 0;
}

Navbar {
  margin: 1%;
}

app {
  background-color: rgb(228, 227, 227);
}

.nav-link  {
  color: rgb(255, 255, 255)!important;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: rgb(93, 44, 133)!important;
  font-size: 1.4rem;
}

.contador {
flex-direction: row;
display: flex;
gap: 1%;
}

.card {
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
  margin: 1%;
}

footer {
  background-color: rgb(0, 0, 0);
  padding: 1%;
  text-align: center;
  color: rgb(255, 255, 255);
} 